<!DOCTYPE html>
<html>
	<head>
		<title>Registration</title>
	</head>

	<body>
		{{ login_message }}
	    {% if user.is_authenticated %}
            <h1>Rango says hello {{ user.first_name }} </h1>

            <a href="/logout">Logout</a>
        {% else %}

	        <form id="login_form" method="post" action="/login/">
	            {% csrf_token %}
	            Username: <input type="text" name="username" value="" size="50" />
	            <br />
	            Password: <input type="password" name="password" value="" size="50" />
	            <br />

	            <input type="submit" value="Login" />
	        </form>

			<form id="user_form" method="post" action="/register/" enctype="multipart/form-data">
				{% csrf_token %}

				{{ user_form.as_p }}
				{{ profile_form.as_p }}
				{% if login_message %}
				{% else %}
				<input type="submit" name="submit" value="Register" />
				{% endif %}
			</form>
        {% endif %}
	</body>
</html>
